# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
venv/
ENV/
env/

# Editors / IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db
